USE [master]
GO
/****** Object:  Database [SoITClinic]    Script Date: 9/29/2019 2:51:53 PM ******/
CREATE DATABASE [SoITClinic]
/*** CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoITClinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SoITClinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SoITClinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SoITClinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )***/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoITClinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoITClinic]
GO
USE [SoITClinic]
GO
/****** Object:  Sequence [dbo].[AdmitNo]    Script Date: 9/29/2019 2:51:53 PM ******/
CREATE SEQUENCE [dbo].[AdmitNo] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[Admissions]    Script Date: 9/29/2019 2:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admissions](
	[AdmitNo] [int] IDENTITY(1,1) NOT NULL,
	[PatId] [int] NOT NULL,
	[Diag_code] [int] NOT NULL,
	[Admit_Doct] [int] NOT NULL,
	[Admission_Date] [date] NOT NULL,
	[Discharge_Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdmitNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostics]    Script Date: 9/29/2019 2:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostics](
	[DiagNo] [int] NOT NULL,
	[Description] [varchar](40) NOT NULL,
	[Cost] [smallmoney] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiagNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 9/29/2019 2:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Doctor_Id] [int] NOT NULL,
	[first_Name] [varchar](30) NOT NULL,
	[last_Name] [varchar](30) NOT NULL,
	[speciality] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Doctor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 9/29/2019 2:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatId] [int] IDENTITY(1,1) NOT NULL,
	[first_Name] [varchar](30) NOT NULL,
	[last_Name] [varchar](30) NOT NULL,
	[DOB] [date] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](25) NOT NULL,
	[State] [varchar](2) NOT NULL,
	[Zip] [varchar](20) NOT NULL,
	[Phone] [nvarchar](24) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admissions] ON 

INSERT [dbo].[Admissions] ([AdmitNo], [PatId], [Diag_code], [Admit_Doct], [Admission_Date], [Discharge_Date]) VALUES (1, 1, 21, 2100, CAST(N'2019-08-10' AS Date), CAST(N'2019-09-11' AS Date))
INSERT [dbo].[Admissions] ([AdmitNo], [PatId], [Diag_code], [Admit_Doct], [Admission_Date], [Discharge_Date]) VALUES (2, 2, 30, 2142, CAST(N'2019-07-01' AS Date), CAST(N'2019-09-15' AS Date))
INSERT [dbo].[Admissions] ([AdmitNo], [PatId], [Diag_code], [Admit_Doct], [Admission_Date], [Discharge_Date]) VALUES (3, 4, 40, 2150, CAST(N'2019-05-05' AS Date), CAST(N'2019-09-20' AS Date))
SET IDENTITY_INSERT [dbo].[Admissions] OFF
INSERT [dbo].[Diagnostics] ([DiagNo], [Description], [Cost]) VALUES (15, N'Hypertension', 400.0000)
INSERT [dbo].[Diagnostics] ([DiagNo], [Description], [Cost]) VALUES (21, N'Tuberculosis', 300.0000)
INSERT [dbo].[Diagnostics] ([DiagNo], [Description], [Cost]) VALUES (30, N'Obesity', 100.0000)
INSERT [dbo].[Doctors] ([Doctor_Id], [first_Name], [last_Name], [speciality]) VALUES (2100, N'Michael', N'Lewis', N'Neurologist')
INSERT [dbo].[Doctors] ([Doctor_Id], [first_Name], [last_Name], [speciality]) VALUES (2142, N'Kelly', N'lawson', N'Psychiatrist')
INSERT [dbo].[Doctors] ([Doctor_Id], [first_Name], [last_Name], [speciality]) VALUES (2150, N'Jason', N'Somers', N'Pediatrics')
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatId], [first_Name], [last_Name], [DOB], [Address], [City], [State], [Zip], [Phone]) VALUES (1, N'Robert', N'Lee', CAST(N'2002-02-04' AS Date), N'4280 Vine St', N'Cincinnati', N'OH', 45242, N'(513) 525-3566')
INSERT [dbo].[Patients] ([PatId], [first_Name], [last_Name], [DOB], [Address], [City], [State], [Zip], [Phone]) VALUES (2, N'Amy', N'Belle', CAST(N'2000-06-01' AS Date), N'3180 Lauren Dr', N'Cincinnati', N'OH', 45216, N'(513) 216-8850')
INSERT [dbo].[Patients] ([PatId], [first_Name], [last_Name], [DOB], [Address], [City], [State], [Zip], [Phone]) VALUES (3, N'David', N'Shaw', CAST(N'1965-04-01' AS Date), N'86 Reading Rd', N'Cincinnati', N'OH', 45236, N'(513) 344-7980')
SET IDENTITY_INSERT [dbo].[Patients] OFF
/****** Object:  Index [Admit_Doct]    Script Date: 9/29/2019 2:51:53 PM ******/
CREATE NONCLUSTERED INDEX [Admit_Doct] ON [dbo].[Admissions]
(
	[Admit_Doct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Diag_code]    Script Date: 9/29/2019 2:51:53 PM ******/
CREATE NONCLUSTERED INDEX [Diag_code] ON [dbo].[Admissions]
(
	[Diag_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PatId]    Script Date: 9/29/2019 2:51:53 PM ******/
CREATE NONCLUSTERED INDEX [PatId] ON [dbo].[Admissions]
(
	[PatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admissions]  WITH CHECK ADD FOREIGN KEY([Admit_Doct])
REFERENCES [dbo].[Doctors] ([Doctor_Id])
GO
ALTER TABLE [dbo].[Admissions]  WITH CHECK ADD FOREIGN KEY([Diag_code])
REFERENCES [dbo].[Diagnostics] ([DiagNo])
GO
ALTER TABLE [dbo].[Admissions]  WITH CHECK ADD FOREIGN KEY([PatId])
REFERENCES [dbo].[Patients] ([PatId])
GO
ALTER TABLE [dbo].[Diagnostics]  WITH CHECK ADD CHECK  (([Cost]>(0)))
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD CHECK  (([State] like '[A-Z][A-Z]'))
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD CHECK  (([Zip] like '[0-9][0-9][0-9][0-9][0-9]'))
GO
USE [master]
GO
